.container {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100%;
}

.workarea {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    padding: 2px;
}